<p id="notice"><%= notice %></p>

<h1>Dashboard: my learning items</h1>
<br>
<%= link_to 'Create a new learning item', new_learning_item_path %>
|
<%= link_to 'Back to home', root_path %>
<br>
<% if @learning_items.blank? %>
  <h3>Your learning items will appear here once you create them</h3>
<% else %>
  <% @learning_items.each_with_index do |learning_item, index| %>
    <% is_learned = learning_item.is_learned %>
    <div class="<%= "learning-item-#{0} #{is_learned ? 'green' : 'yellow'}" %>">
      <h2><%= "##{@learning_items.size - index}: #{learning_item.title}" %></h2>
      <%= is_learned ? 'LEARNED.' : 'NOT YET LEARNED.'%>
      <%= link_to (is_learned ? 'Mark as not learned' : 'Mark as learned'), toggle_mark_as_learned_path(id: learning_item.id), method: :put %>
      <p><b>What confuses me:</b> <%= learning_item.confusing_part %></p>
      <p><b>Documentation:</b> <%= learning_item.documentation || '[stub]' %></p>
      <%= link_to 'Edit', edit_learning_item_path(learning_item) %>
      |
      <%= link_to 'Destroy', learning_item, method: :delete %>
    </div>
  <% end %>
<% end %>
